/*this is style News and detail news*/
@import "variable";
.express {
	width: 100%;
	display: flex;
	.content-exp {
		background: #f7f7ef;
		border: 1px solid #efefe6;
		line-height: 30px;
		padding: 10px 20px;
		float: left;
		width: 100%;
		.date-time {
			float: left;
			display: flex;
			color: #757575;
			.date {
				padding-right: 5px;
			}
			.time{
				padding-left: 5px;
			}
		}
		.img-news {
			height: 15px;
			padding: 10px 0px;
		}
		.exp-page {
			color: #757575;
			float: right;
			display: flex;
			.txt-link {
				color: #757575;
			}
			.source {
				padding-left: 10px;
			}
		}
	}
}
.cate-content {
	display: flex;
	width: 800px;
	margin: 0 auto;
	.left {
		padding: 7px 15px;
		font-size: 20px;
		color: #cccccc;
		float: left;
		padding-right: 10px;
	}
	.right {
		@extend .left;
		float: right;
	}
	.item-cate{
		display: flex;
		padding:10px 20px;
		width: 50%;
		&:last-child {
			border-right: none;
		}
		.title-cate {
			.txt-link {
				color: #666666;
			}
		}
	}
}
.boder-bottom {
	border-top: 1.2px solid #cccccc;
}
.content-detail {
	width: 800px;
	margin:0 auto;
	content-detail {
		font-size: 30px;
	}
	.item-link {
		border: 1px solid #efefed;
		float: left;
		width: 100%;
		padding: 5px 0px;
		line-height: 10px;
		margin: 20px 0px ;
		.icon {
			float: left;
			padding-left: 5px;
			.icon-detail {
				padding-left: 5px;
			}
		}
		.link {
			border: 1px solid #efefed;
			padding: 6px;
			margin-right: 5px;
			float: right;
		}
	}
	.title-cates {
		float: left;
		font-size: 33px;
		margin-top: 20px;
		.txt-link {
			color: black;
		}
	}
	.detail-page {
		padding: 20px;
		font-size: 15px;
		border-bottom: 1px solid #cccccc;
		float: left;
		.img-detail {
			text-align: center;
		}
		.author {
			float: right;
			margin-top: 20px;
			font-weight: bolder;
			font-size: 16px;
		}
	}

	.writing-page {
		width: 100%;
		float: left;
		.title-writing {
			text-transform: uppercase;
			padding: 10px 0px 20px 0px;
		}
		.content-writing {
			width: 23%;
			float: left;
			padding:0px 10px 0px 5px;
		}
		.img-writing {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 8px;
			height: 130px;
		}
	}
}
